#grid-galerie {
    margin: 0 auto;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    counter-reset: nrimag 0; 
}

#grid-galerie figcaption{
    margin-top: 60px;
    text-align: center;
    font-family: "Old Standard TT", serif;
    text-transform: uppercase;   
    counter-increment: nrimag 1;
    position: relative;
    padding-bottom: 5px;
}

#grid-galerie figcaption::after {
    content: "";
    height: 0.5px;
    width: 30%;
    background-color: #747571;
    position: absolute;
    left: 35%;
    bottom: 0px;
}

#grid-galerie figcaption::before{
    content: counter(nrimag, upper-roman) ") ";
}

#grid-galerie figure {
    margin: 10%;
}

#grid-galerie img {
    width: 100%;
    border-radius: 50%;
    margin: 0;
    outline: 0px solid var(--culoare-galerie-margin);
}

#grid-galerie * {box-sizing:border-box;}

#grid-galerie img:hover {
    transition: all 1.2s linear;

    transform: rotate(-10deg) scale(125%);
    outline: 4px solid var(--culoare-galerie-margin);
    box-shadow: 0 0 30px var(--culoare-galerie-shadow);
}

.credits-galerie {
    text-transform: lowercase; 
    line-height: 1rem;
    padding-bottom: 0.5rem; 

    a, a:visited {
        line-height: 1em;
        text-transform: capitalize;
        color: var(--culoare-link-galerie);
        // font-weight: 600;
        font-style: italic;


        &:hover, &:active{
            text-decoration: underline;
        }
    }
}


$ctr: 1;
@for $i from 1 through 4 {
    @for $j from 1 through 3 {
        @if not(($i == 2 or $i ==3) and $j ==2 ){
            #grid-galerie figure:nth-child(#{$ctr}){
                grid-area: #{$i}/#{$j}/#{$i+1}/#{$j+1};
            }
            $ctr: $ctr + 1
        }
    }
    
}


@media screen and (max-width:1000px){
    #grid-galerie {
        width: 90%;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }

    
    @for $i from 1 through 5 {
        #grid-galerie figure:nth-child(#{2* $i - 1}){
            grid-area: #{$i}/1/#{$i+1}/2;
        }

        #grid-galerie figure:nth-child(#{2* $i}){
            grid-area: #{$i}/2/#{$i+1}/3;
        }
    }
}
  

@media screen and (max-width: 600px){
    #grid-galerie {
        display:block;
        width: 80%;
    }
}

