<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Librăria Gaudeamus- înregistrare utilizatori.">
        <meta name="keywords" content="librărie, Gaudeamus, inregistrare, utilizatori">
        <!-- <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" /> -->
        <title>Ștergere cont</title>
        <%- include("../fragmente/head") %>     
        <style>
            #form_inreg{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        </style>
        <!-- <script type="text/javascript" src=/resurse/js/inregistrare.js></script> -->
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
    <div class="afisaj">
        <h2>Ștergere cont</h2>
        <form id="form_inreg"  method="post" class="date"  action="/stergere_cont"  enctype="multipart/form-data">
            <p>
                <label>
                    Introduceți parola pentru a confirma ștergerea: <input id="parl"  class="form-control" type="password" required  name="parola" value="">
                </label>
            </p>
            <p>
                <input class="btn btn-primary" type="submit" value="Trimite">
                <input class="btn btn-primary" type="reset" value="Reseteaza">
            </p>
        </form>
    </div>
</main>

<%- include("../fragmente/footer") %>
</body>
</html>