.galerie-a {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border: 50px solid transparent;
  border-image-source: url(/resurse/imagini/bck-gal0.png);
  border-image-slice: 50% 0%;
  border-radius: 50%;
  border-left: none;
  border-right: none;
  margin: 1rem auto;
}

.galerie-a figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem 0 1rem 0;
}

.galerie-a figure {
  position: relative;
  width: 400px;
  height: 400px;
}

.galerie-a img {
  width: 100%;
}

#galerie-animata figure {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 1;
  animation-name: anim_gal_dinamica;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 24s;
}

#galerie-animata:hover figure {
  animation-play-state: paused;
}

#galerie-animata figure:nth-of-type(8) {
  animation-delay: 0s;
}

#galerie-animata figure:nth-of-type(7) {
  animation-delay: 3s;
}

#galerie-animata figure:nth-of-type(6) {
  animation-delay: 6s;
}

#galerie-animata figure:nth-of-type(5) {
  animation-delay: 9s;
}

#galerie-animata figure:nth-of-type(4) {
  animation-delay: 12s;
}

#galerie-animata figure:nth-of-type(3) {
  animation-delay: 15s;
}

#galerie-animata figure:nth-of-type(2) {
  animation-delay: 18s;
}

#galerie-animata figure:nth-of-type(1) {
  animation-delay: 21s;
}

@keyframes anim_gal_dinamica {
  0% {
    z-index: 10;
    opacity: 0;
    clip-path: inset(50% 0%);
  }
  6.2499% {
    z-index: 10;
    opacity: 1;
    clip-path: inset(0% 0%);
  }
  6.25% {
    z-index: 10;
    opacity: 1;
    clip-path: inset(0% 0%);
  }
  12.4999% {
    z-index: 10;
    opacity: 1;
    clip-path: inset(0% 0%);
  }
  12.5% {
    z-index: 0;
    opacity: 1;
    clip-path: inset(0% 0%);
  }
  24.9999% {
    z-index: 0;
    opacity: 1;
    clip-path: inset(0% 0%);
  }
  25% {
    z-index: -10;
    opacity: 0;
    clip-path: inset(50% 0%);
  }
  100% {
    z-index: -10;
    opacity: 0;
    clip-path: inset(50% 0%);
  }
}
.dark .galerie-a figcaption {
  background: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1000px) {
  #galerie-animata, #text {
    display: none;
  }
}