#container-despre {
    --height-continut: 300px;

    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elem-despre {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
}

/* .elem-despre p {
    text-indent: 50px;
}

.elem-despre p::first-letter{
    font-size: 200%;
} */


.elem-despre div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: var(--height-continut); */
    /* width: calc(2*var(--height-continut)); */
    width: 70%;
    max-width: 100%;
    text-align: justify;
}


.elem-despre img {
    width: calc(0.8 * var(--height-continut));
    border-radius: 50%;
    box-shadow: 0 0 15px var(--culoare-shadow-img);
}

.elem-despre  hr {
    width: 70px;
    height: 2px;
    border: none;
    background-color: var(--culoare-hr);
    border-radius: 2px;
}

@media screen and (max-width: 1500px) {
    #container-despre {
        --height-continut: 200px;
    }

    #container-despre section{
        margin: 10px;
    }

    .elem-despre {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .elem-despre{
        flex-direction: column;
    }

    .elem-despre div {
        height: max-content;
    }

    .elem-despre img {
        display: none;
    }
}
