b, i{
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

a {
    text-decoration: none;
}

header h1{
    display: none;
}


body{
    position: relative;

    --culoare-text: #000;
    --culoare-footer: #435360;
    --culoare-text-footer: #F2F5EA;
    --culoare-header: #F2F5EA;
    --culoare-bg: #fafbf7;
    --culoare-bg-noutati: #F3F5F6;

    --culoare-border-link-top: #D9DBD3;
    --culoare-bg-link-top: #FFF;
    --culoare-bg-sageata: #747571;
    
    --culoare-sageata-hover: #6C373D;
    --culoare-link-top-hover: #EAD6D8; 
    --culoare-border-link-top-hover:#C2878D;

    --culoare-circle: #D9DBD3;
    --culoare-icon-circle: #435360;

    --culoare-h: #435360;
    --culoare-icons-h: #C2878D;
    --culoare-quote: black;

    
    --culoare-quote-line: #EAD6D8;
    --culoare-subtitrari: #6C373D;
    --culoare-fundal-subtitrari: white;

    --culoare-selection-background: #EAD6D8;
    --culoare-selection-text: #6C373D;

    --culoare-galerie-shadow: #435360;
    --culoare-galerie-margin: #D9DBD3;

    --culoare-reflexie: #C2878D;
    --culoare-link-galerie: #747571;

    --culoare-hr-background: #D9DBD3;
    --culoare-hr-linie: white;
    --dimensiune-hr: 12px;

    --culoare-meniu: #F2F5EA;
    --culoare-meniu-contrast: #D6DBD2;
    --culoare-text-meniu: #435360;
    --culoare-text-meniu-contrast: #fff;
    --culoare-bara-gradient: #435360;
    --culoare-burger: #435360;

    --culoare-border:#435360;
    --culoare-gradient: #F2F5EA;
    --culoare-desc-hover: #fafbf7;
    --culoare-bg-etich: #E8ECEE;

    --culoare-text-sum: #435360;
    --culoare-text-details: #C2878D;

    --culoare-border-thead: #fafbf7;
    --culoare-border-tfoot: #fafbf7;

    --culoare-bg-tabel: #D9DBD3;
    --culoare-bg-thead: #435360;
    --culoare-text-thead: #fafbf7;

    --culoare-border-c1: #5D737E;
    --culoare-border-c2: #A1B1BA; 
    --culoare-rand-hover: #435360;

    --culoare-hr: #D9DBD3;
    --culoare-shadow-img: #D9DBD3;

    --culoare-bg-produs: white;
    --culoare-avertizare: #88444C;
    --culoare-nume-filtru: #435360;
    --culoare-detalii-produs: #C2878D;

    background-color: var(--culoare-bg);
    margin: 0px;
    padding: 0px;
    color: var(--culoare-text);

}

.dark #logo {
    content: url(/resurse/imagini/logo-dark1.png);
}

.dark {
    --bs-link-hover-color: white;
    --bs-link-color:white;
   
    
    --culoare-meniu: #1f1f1f;
    --culoare-meniu-contrast: #A1B1BA;
    --culoare-text-meniu: #A1B1BA;
    --culoare-text-meniu-contrast: black;
    --culoare-bara-gradient: #435360;
    --culoare-burger: #D0D8DD;


    --culoare-text: #e2e2e2;
    --culoare-footer: #1f1f1f;
    --culoare-text-footer: #A1B1BA;
    --culoare-header: #1f1f1f;
    --culoare-bg: #121212;
    --culoare-bg-noutati: #F3F5F6;
    --culoare-border-link-top: #D9DBD3;
    --culoare-bg-link-top: #FFF;
    --culoare-bg-sageata: #747571;
    --culoare-sageata-hover: #5D4650;
    --culoare-link-top-hover: #CAB9C0;
    --culoare-border-link-top-hover: #80606E;
    --culoare-circle: #435360;
    --culoare-icon-circle: #D0D8DD;
    --culoare-h: #EBEBEB;
    --culoare-icons-h: #6C373D;
    --culoare-quote: white;
    --culoare-quote-line: #B9A2AB;
    --culoare-subtitrari: #6C373D;
    --culoare-fundal-subtitrari: white;
    --culoare-selection-background: #435360;
    --culoare-selection-text: #D0D8DD;
    --culoare-galerie-shadow: #435360;
    --culoare-galerie-margin: #D0D8DD;
    --culoare-reflexie: #9F7F8D;
    --culoare-link-galerie: #D0D8DD;
    --culoare-hr-background: #545454;
    --culoare-hr-linie: #D0D8DD;

    --culoare-border: #513D45;
    --culoare-gradient: #B9A2AB;
    --culoare-desc-hover: var(--culoare-bg);
    --culoare-bg-etich: #9F7F8D;

    --culoare-text-sum: #A1B1BA;
    --culoare-text-details: #9F7F8D;
    --culoare-border-thead: var(--culoare-bg);
    --culoare-border-tfoot: var(--culoare-bg);
    --culoare-bg-tabel: #292929;
    --culoare-bg-thead: #333333;
    --culoare-text-thead: #A1B1BA;
    --culoare-border-c1: #e1e1e1;
    --culoare-border-c2: #8b8c8c;
    --culoare-rand-hover: #A1B1BA;

    --culoare-bg-produs: #1f1f1f;
    --culoare-avertizare: #9F7F8D;
    --culoare-nume-filtru: #A1B1BA;
    --culoare-bg-input: #292929;
    --culoare-detalii-produs: #9F7F8D;

}

.dark .btn-secondary{
    --bs-btn-color: white;
    --bs-btn-bg: #5D737E;
    --bs-btn-border-color: #5D737E;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #68818D;
    --bs-btn-hover-border-color: #68818D;
    --bs-btn-focus-shadow-rgb: 184, 186, 179;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #68818D;
    --bs-btn-active-border-color: #68818D;
}

.dark .btn-info, .dark .btn-primary {
    --bs-btn-color: white;
    --bs-btn-bg: #9F7F8D;
    --bs-btn-border-color: #9F7F8D;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #B096A1;
    --bs-btn-hover-border-color: #B096A1;
    --bs-btn-focus-shadow-rgb: 176, 136, 140;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #B096A1;
    --bs-btn-active-border-color: #B096A1;
}
.dark h3 {
    color: #CAB9C0;
}

.dark #q-dr img{
    content: url(/resurse/imagini/quote-dr-dark.png);
}

.dark #q-st img{
    content: url(/resurse/imagini/quote-st-dark.png);
}

.christmas {
    --culoare-text: #000;
    --culoare-footer: #57695a;
    --culoare-text-footer: #F2F5EA;
    --culoare-header: #f1f3f0;
    --culoare-bg: #fafbf7;
    --culoare-bg-noutati: #F3F5F6;
    --culoare-border-link-top: #D9DBD3;
    --culoare-bg-link-top: #FFF;
    --culoare-bg-sageata: #747571;
    --culoare-sageata-hover: #BC574E;
    --culoare-link-top-hover: white;
    --culoare-border-link-top-hover: #e5c5bd;
    --culoare-circle: #D9DBD3;
    --culoare-icon-circle: #57695a;
    --culoare-h: #57695a;
    --culoare-icons-h: #ab4a41;
    --culoare-quote: black;
    --culoare-quote-line: #e5c5bd;
    --culoare-subtitrari: #6C373D;
    --culoare-fundal-subtitrari: white;
    --culoare-selection-background: #ca9992;
    --culoare-selection-text: #6C373D;
    --culoare-galerie-shadow: #435360;
    --culoare-galerie-margin: #D9DBD3;
    --culoare-reflexie: #ab4a41;
    --culoare-link-galerie: #747571;
    --culoare-hr-background: #D9DBD3;
    --culoare-hr-linie: white;
    --dimensiune-hr: 12px;
    --culoare-meniu: #f1f3f0;
    --culoare-meniu-contrast: #788173;
    --culoare-text-meniu: #57695a;
    --culoare-text-meniu-contrast: #fff;
    --culoare-bara-gradient: #ab4a41;
    --culoare-burger: #57695a;
    --culoare-border: #57695a;
    --culoare-gradient: #F2F5EA;
    --culoare-desc-hover: #fafbf7;
    --culoare-bg-etich: #E8ECEE;
    --culoare-text-sum: #57695a;
    --culoare-text-details: #ab4a41;
    --culoare-border-thead: #fafbf7;
    --culoare-border-tfoot: #fafbf7;
    --culoare-bg-tabel: #D9DBD3;
    --culoare-bg-thead: #57695a;
    --culoare-text-thead: #fafbf7;
    --culoare-border-c1: white;
    --culoare-border-c2: white;
    --culoare-rand-hover: #57695a;
    --culoare-hr: #D9DBD3;
    --culoare-shadow-img: #D9DBD3;
    --culoare-bg-produs: white;
    --culoare-avertizare: #ab4a41;
    --culoare-nume-filtru: #57695a;
    --culoare-detalii-produs: #ab4a41;

}    

.christmas .btn-info {
    --bs-btn-color: white;
    --bs-btn-bg: #ab4a41;
    --bs-btn-border-color: #ab4a41;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #BC574E;
    --bs-btn-hover-border-color: #BC574E;
    --bs-btn-focus-shadow-rgb: 176, 136, 140;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #BC574E;
    --bs-btn-active-border-color: #BC574E;
}
.christmas .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #57695a;
    --bs-btn-border-color: #57695a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #667A69;
    --bs-btn-hover-border-color: #667A69;
    --bs-btn-focus-shadow-rgb: 95, 109, 120;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #667A69;
    --bs-btn-active-border-color: #667A69;
}
.christmas #logo{
    content: url(/resurse/imagini/logo-chr.png);
}

.christmas .img-prez{
    display: none;
}

.christmas #bookshelf-img {
    display: block;
    content: url(/resurse/svg/christmas.svg);
}

.christmas #q-dr img{
    content: url(/resurse/imagini/quote-dr-chr.png);
}

.christmas #q-st img{
    content: url(/resurse/imagini/quote-st-chr.png);
}

#tema { 
    font-family: 'Lora', serif, 'FontAwesome';
    border-radius: 1rem;
    height: 1.8rem;
    padding: 0 10px;
    border: 1px solid var(--culoare-circle);
    background-color: var(--culoare-bg);
    color: var(--culoare-icon-circle);
    display: block;
    margin: 0 auto;
}

#tema:focus{
    outline: none;
    box-shadow: 0 0 0.3rem var(--culoare-icon-circle);
}

.christmas #prezentare{
    background-color: #fafbf7;
    box-shadow: 0 10px 10px var(--culoare-circle);
}

.christmas::after{
    position: absolute;
    content: "";
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-image: url(/resurse/imagini/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



html {
    font-size: 17px;
    font-family: 'Lora', serif;
}

h1,h2,h3 {
    font-family: 'Lora', serif;
    color: var(--culoare-h);
    margin: 1rem 0;

}

h3 .fa-solid{
    color: var(--culoare-icons-h);
}

section h3, h2 {
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
}

#link-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--culoare-bg-link-top);
    border: 3px solid var(--culoare-border-link-top);
    transform: rotate(45deg);
    opacity: 30%;
    transition: all 0.3s linear;
}

#link-top:hover {
    opacity: 1;
    border-color: var(--culoare-border-link-top-hover);
    background-color: var(--culoare-link-top-hover);
}

#link-top:hover #footer-sageata{
    border-bottom-color: var(--culoare-sageata-hover);
}

#footer-sageata {
    transform: rotate(-45deg);
    border-top: none;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 30px solid var(--culoare-bg-sageata);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}



header{
    background-color: var(--culoare-header);
}

header div {
    display: inline-block;
    text-align: center;
}


#logo {
    height: 140px;
}


#grid-pagina section {
    margin-bottom: 0px;
    padding: 10px 0;
}

/* #grid-pagina > section {
    border: 1px solid black;
} */

#grid-pagina{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "z-prezentare z-prezentare z-prezentare z-prezentare"
        "z-sectiunea8 z-sectiunea8 z-sectiunea8 z-sectiunea8"
        "z-calendar z-tabel z-tabel z-anunturi"
        "z-util-online z-statistici z-date-site z-date-site";
}

#prezentare{
    grid-area: z-prezentare;
    margin: inherit !important;
}

#prezentare h2 {
    margin-top: 0;
}

#sectiunea8{
    grid-area: z-sectiunea8;
}

#calendar{
    grid-area: z-calendar;
}

#tabel{
    grid-area: z-tabel;
}

#anunturi{
    grid-area: z-anunturi;
}

#util-online{
    grid-area: z-util-online;
}

#statistici{
    grid-area: z-statistici;
}

#date-site{
    margin: 0 1rem !important;
    grid-area: z-date-site;
}

#noutati {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formula{
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: var(--culoare-h);
}

#nou-intreb{
    text-align: center;
    margin: 1rem 0 2rem 0;
}

#poze-manuale {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#poze-manuale figcaption {
    display: flex;
    max-width: 230px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--culoare-text-meniu);
}

#poze-manuale figure{
    padding: 0.5rem;
    margin: 1.2rem 0;
    border-radius: 2rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--culoare-bg-produs);
}

#poze-manuale picture {
    height: 300px;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#poze-manuale ins {
    font-size: 1.2rem;
    color: var(--culoare-text-meniu);
    font-weight: bold;
    text-decoration: none;
}

#poze-manuale s{
    color: gainsboro;
}

#noutati img {
    width: 200px;
    max-height: 300px;
}

#sectiunea8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#sectiunea8 section {
    width: 100%;
}


#recomandari {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#poza-recomandare {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#poza-recomandare p {
    max-width: 700px;
    text-align: justify;
}

#poza-recomandare figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#poza-recomandare img{
    margin-bottom: 1rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.dark #poza-recomandare img {
    box-shadow: rgb(255 255 255 / 40%) 0px 5px 15px;
}


footer{
    height: 90px;
    background-color: var(--culoare-footer);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

footer * {
    color: var(--culoare-text-footer);
}

footer a:hover{
    color: var(--culoare-text-footer);
}

#footer-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* #########    EVENIMENTE     ######## */

#evenim-trecute-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

#container-evenim{
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: fit-content;
}



section h3, h2{
    text-align: center;
}


/* ####### stilizare VTT ###### */
video::cue{
    background: var(--culoare-fundal-subtitrari);
    color:var(--culoare-subtitrari);
    text-shadow: var(--culoare-border-link-top-hover) 1px 0 5px;
}

#grid-pagina > section{
    padding: 1rem;
    margin: 0 auto;
    text-align: justify;
}



@media screen and (max-width:1500px) {
    #grid-pagina{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "z-prezentare z-prezentare"
            "z-sectiunea8 z-sectiunea8"
            "z-calendar z-anunturi"
            "z-tabel z-tabel"
            "z-util-online z-statistici"
            "z-date-site z-date-site";
    }

    #formula, #nou-intreb{
        display: none;
    }

    html {
        font-size: 0.95rem;
        transition: font-size 0.5s linear;
    }

    #link-top{
        transform: scale(85%) rotate(45deg);
        right: 30px;
        bottom: 30px;
    }

}

@media screen and (max-width: 750px) {
    #grid-pagina{
        display: block;
    }

    #link-top{
        transform: scale(75%) rotate(45deg);
    }

    #grid-pagina section {
        width: 90%;
    }

    #grid-pagina #prezentare{
        width: 100%;
        padding: 1rem 0;
    }

    html {
        font-size: 0.9rem;
        transition: font-size 0.5s linear;
    }

}

#banner, #watermark{
    display: none;
}