
@media print {
    a, a:visited{
        text-decoration: none;
        color: var(--culoare-text);
    }

    footer {
        page-break-before: always;
    }

    footer * {
        color: var(--culoare-text) !important;
    }

    body, body * {
        background: none;
    }

    header {
        background: none;
    }

    #banner{
		display: inline-block;
		width: 80%;
        line-height: 2rem;
        height: 2rem;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        
        text-align: center;
        text-align: center;
        margin: 0 auto;
        border: 5px dotted black;
	}

    #watermark
    {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    #watermark::after{
        
        padding: 5px;
        display: block;
        background: white;
        opacity: 0.65;
        border: 2px solid black;
        border-radius: 10px;
        content:"Copyright Iulia Udrea";
    }


    header h1{
        position: relative;
        background: none;
        display: block;
		margin-top: 50%;
		text-align: center;
        font-size: 2.5rem;
        text-decoration: underline;
		page-break-after: always;
    }

    img, #evenim-trecute, #noutati, figure, nav, #link-top{
      display:none !important;
    }

    #grid-pagina{
        display: block;
    }
   }
   

@page {
    size: A4 portrait;
    margin-bottom:2cm;
    margin-top:2cm;
    counter-increment: page;
}

@page:left{
    margin-left: 2.5cm;
    margin-right: 0.5cm;
}

@page:right{
    margin-right: 2.5cm;
    margin-left: 0.5cm;
}