.grid-produse {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 3rem;
}

#produse > h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2rem;
}

#containter-inp-check label{
    /* display: block; */
    text-transform: capitalize;
}

.produs{
    display: flex;
    flex-direction: column;
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 40px;
    background-color: var(--culoare-bg-produs);
    /* font-size: 90%; */
}

.dark .produs {
    box-shadow: rgb(0 0 0 / 65%) 0px 5px 15px;
}


.aliniere-col{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.randFiltre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.colFiltre{
    display: flex;
    flex-direction: column;
}

.colFiltre>*{
    margin: 1rem 0;
}


.info-prez{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-prod {
    width: 40%;
}

.produs img {
    width: 200px;
    max-height: 300px;
    transition: all 0.5s linear;
}

.produs figure {
    height: 300px;
}

.produs p {
    color: var(--culoare-detalii-produs);
    font-weight: bold;
}

.produs span, time {
    color: var(--culoare-text);
    font-weight: normal;
}

.numeFiltru{
    position: relative;
    margin: 1rem 0 0.5rem 0;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: var(--culoare-nume-filtru);
}

.numeFiltru::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 3px;
    opacity: 0.3;
    background-color: #A1B1BA;
}

#butoaneFiltrare{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#butoaneFiltrare > button div{
    display: inline;
}

#butoaneFiltrare > div {
    display: inline-block;
}

#inp-pret {
    width: 280px;
    display: inline-block;
    margin: 0 1rem;
}

#containerPret {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#infoRange{
    margin-left: 0.5rem;
    width: 85px;
}

.row > div {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row > div > label, .filtru {
    width: 300px;
    transition: width 0.7s linear;
}

#labelPret {
    width: fit-content;
}

main .form-select {
    padding-right: 0;
}

.dark .form-control, .dark .form-select {
    background-color: var(--culoare-bg-input);
    border: var(--culoare-bg-input);
    color: #FAFBF7;
}

.dark .form-control:focus, .dark .form-select:focus {
    color: #FAFBF7;
    background-color: var(--culoare-bg-input);
    border-color: #a1a9b0;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

main .row{
    /* margin-left: 0;
    margin-right: 0; */
    margin: 1rem 0;
}

.val-categorie, #inp-categorie{
    text-transform: capitalize;
}

/* .produs i {
    display: none;
} */


.descriere{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.val-descriere{
    font-size: 90%;
}

.accordion {
    width: 80%;
    margin: 0 auto;
}

.accordion h2 {
    margin: 0.5rem;
}

.accordion button {
    font-weight: bold;
}

.accordion-body{
    text-align: justify;
    text-justify: inter-word;
}

.dark .accordion {
    --bs-accordion-color: var(--culoare-text);
    --bs-accordion-btn-color: #9F7F8D;
    --bs-accordion-active-color: #9F7F8D;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239F7F8D'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239F7F8D'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.christmas .accordion {
    --bs-accordion-color: var(--culoare-text);
    --bs-accordion-btn-color: #ab4a41;
    --bs-accordion-active-color: #ab4a41;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23AB4A41'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23AB4A41'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media screen and (max-width:1300px){
    .produs {
        width: 40%;
    }

    .produs img {
        width: 150px;
        max-height: 250px;
    }

    .produs figure {
        height: 250px;
    }

}

@media screen and (max-width:1000px){
    .grid-produse{
        display: block;
    }

    .produs{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 3em;
    }
    
    #butoaneFiltrare > button div {
        display: none;
    }
    #butoaneFiltrare > button i {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px){
    .produs img {
        width: 150px;
        max-height: 250px;
    }

    .produs figure {
        height: 250px;
    }

    .row > div > label, .filtru {
        width: 190px;
    }
}

@media screen and (max-width: 500px){
    #inp-pret {
        width: 150px;
    }
}