<footer>
    <div id="footer-info">
        <a id="link-top" href="#" title="Mergi sus"> 
            <div id="footer-sageata"></div>
        </a>

        <a href="tel:+40712345678"> <i class="fa-solid fa-phone"></i> +40712345678</a>

        <address > 
            <a target="_blank" href="https://www.google.com/maps?q=facultatea+de+matematica+si+informatica+bucuresti&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjt89fF2eT6AhUSjaQKHdiPCu0Q_AUoAnoECAIQBA">
                <i class="fa-solid fa-location-dot"></i> Strada Academiei 14, București
            </a>
        </address>

        <a  href="mailto:lib.gaudeamus@office.ro"> <i class="fa-solid fa-envelope"></i> lib.gaudeamus@office.ro</a>

        <a  href="skype:lib.gaudeamus?chat"> <i class="fa-brands fa-skype"></i> lib.gaudeamus </a>
    </div>

    <small id="copyright">
        Copyright &#169; <time datetime="2022-10-15">15 Oct 2022</time>-prezent Iulia Udrea 
    </small>
    <p id="banner">Acesta este un proiect școlar.</p>
</footer>