<header>
    <h1>Librăria Gaudeamus</h1>
    <div  class="col-4">
        <select id="tema">
            <option selected value="light"> &#xf185; Light</option>
            <option value="dark"> &#xf186; Dark</option>
            <option value="christmas"> &#xf2dc; Christmas</option>
        </select>
    </div>
    
    <div class="col-4">
        <!-- <a href="/index"> -->
            <img id="logo" src="/resurse/imagini/logo3m-nobkg.png" alt="logo">
        <!-- </a> -->
    </div>
    <!-- <div class="col-4"></div> -->
</header>

<nav>
    <label id="hamburger" for="ch-menu">
        <div id="container-hamburger">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
        <li> 
            <a  href="/index"> 
                <i id="icon-casuta" class="fa-solid fa-house"></i>
                <b id="text-acasa">Acasă</b></a>
            <ul>
                <li> <a href="/index#prezentare">Prezentare</a> </li>
                <li> <a href="/index#recomandari"><b>Recomandări</b></a></li>
                <li><a href="/index#noutati"><b>Noutăți</b></a></li>
                <li><a href="/index#galerie-statica">Galerie</a></li>
                <li><a href="/index#calendar">Calendar</a></li>
                <li><a href="/index#tabel">Evenimente</a></li>
                <li><a href="/index#anunturi">Anunțuri</a></li>
                <li><a href="/index#util-online">Uilizatori</a></li>
                <li><a href="/index#statistici">Statistici</a></li>
                <li><a href="/index#date-site">Date site</a></li>
            </ul>
        </li>
        <li>
            <a href="/produse">Produse</a>
            <ul>
                <% for (opt of locals.optiuniMeniu) { %>
                <li><a href="<%- "/produse?tip=" + opt.unnest%>"> <%- opt.unnest%></a></li>
                <% } %>
            </ul>
        </li>
        <li>
            <a href="/edituri">Edituri</a>
        </li>
        <li>
            <a href="/despre">Despre</a>
            <ul>
                <li><a href="/despre#poveste">poveste</a></li>
                <li><a href="/despre#istoric">Istoric</a></li>
                <li><a href="/despre#motivatie">motivație</a></li>
                <li><a href="/despre#galerie-statica">Galerie</a></li>
                <li><a href="/despre#informatii">Informații</a></li>
            </ul>
        </li>
    </ul>
</nav>